
@model Cfm.Web.Mvc.Areas.CFMBranch.Models.CD02HeaderViewModel
@using Cfm.Web.Mvc.Common;
@{
    Layout = null;/*"~/Areas/CFMDistrict/Views/Shared/_Layout.cshtml";*/
    int reportID = ViewBag.ReportID;
    int rPoID = ViewBag.PoID;
    string sReportCode = "CD02";
    List<int> ListItemGroupID = ViewBag.ListItemGroupID;
    List<int> ListItemGroupID_TDV = ViewBag.ListItemGroupID_TDV;
    List<int> ListItemGroupID_TKBD = ViewBag.ListItemGroupID_TKBD;
    List<int> ListItemGroupID_KD = ViewBag.ListItemGroupID_KD;
    string isAgain = ViewBag.isAgain;

    Cfm.Web.Mvc.Areas.Admin.Models.PostOfficeViewModel oPO = new Cfm.Web.Mvc.Areas.Admin.Models.PostOfficeViewModel();
    if (Session[Constant.PO_SESSION] != null)
    {
        oPO = (Cfm.Web.Mvc.Areas.Admin.Models.PostOfficeViewModel)Session[Constant.PO_SESSION];
    }
}

<script src="~/Scripts/CFM/Report04CDProcess.js"></script>
@using (Ajax.BeginForm("Report02CDUpdate", "Accounting", new { Area = "CFMBranch" }, new AjaxOptions { HttpMethod = Constant.Method.POST.ToString(), OnSuccess = "" }, new { @id = "fUpdateReport02CD" }))
{
    <div class="alert alert-info padding10">
        <div class="filter-bar">
            <div class="row ">
                <div class="col-md-3 padding0">
                    <div class="date-picker-wrap padding0">
                        @Html.HiddenFor(x => x.PoId)
                        <div class="col-sm-5 p20">
                            <label>Ngày báo cáo</label>
                        </div>
                        <div class="col-sm-7 padding10">
                            @*<input class="form-control" name="from-date" id="txtTransDate" placeholder="Ngày báo cáo" type="text" readonly="readonly">*@
                            @Html.TextBoxFor(x => x.ReportDate, new { @class = "form-control", @readonly = "readonly", @id = "ReportDate", @placeholder = "Ngày báo cáo" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <button id="get_report_data" onclick="ReportCD_Process.Get02ReportData(@reportID,'N',@rPoID)" name="get_report_data" class="btn btn-pns btn-cons mt10" type="button"><i class="fa fa fa-group"></i> Tổng hợp nghiệp vụ từ 03-CĐ</button>

                </div>
                @*<div class="col-md-3">

                        <button id="search_key" onclick="" name="search_key" class="btn btn-pns btn-cons mt17 btn-sm" type="button"><i class="fa fa-fw fa-search"></i> Lấy lại dữ liệu đẩy</button>
                    </div>*@
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#TTTT"><strong>DÒNG TIỀN TẬP TRUNG</strong></a></li>
        <li><a data-toggle="tab" href="#TTTDV"><strong>DÒNG TIỀN TẠI ĐƠN VỊ</strong></a></li>
        <li><a data-toggle="tab" href="#TKBD"><strong>DÒNG TIỀN TKBĐ</strong></a></li>
        <li><a data-toggle="tab" href="#KDDV"><strong>DÒNG TIỀN KINH DOANH TẠI ĐƠN VỊ</strong></a></li>
    </ul>
    <div id="panelB" class="panel-collapse in">

        <div class="tab-content padding0">
            <div id="TTTT" class="panel panel-default tab-pane fade in active">
                @if (ListItemGroupID.Count > 1)
                {
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panelCash" data-toggle="collapse">
                                <strong> PHẦN I: TIỀN MẶT</strong>
                            </a>
                        </h4>
                    </div>
                    <div id="panelCash" class="panel-collapse in">
                        <div class="panel-body">
                            <div class="row padding0">

                                <div id="@( "Part" + ListItemGroupID[0].ToString())" class="col-md-6">
                                    <strong>NHÓM PHÁT HÀNH</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID[0], @CD02Header = Model, @isAgain = isAgain });}
                                </div>

                                <div id="@("Part" + ListItemGroupID[1].ToString())" class="col-md-6">
                                    <strong>NHÓM TRẢ</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID[1], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                            </div>

                        </div>
                    </div>
                }

                @if (ListItemGroupID.Count > 3)
                {
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panelBank" data-toggle="collapse">

                                <strong> PHẦN II: TIỀN GỬI NGÂN HÀNG</strong>
                            </a>
                        </h4>
                    </div>
                    <div id="panelBank" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div id="@( "Part" + ListItemGroupID[0].ToString())" class="col-md-6 ">
                                    <strong>THU TIỀN GỬI NGÂN HÀNG</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID[2], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                                <div id="@("Part" + ListItemGroupID[1].ToString())" class="col-md-6 ">
                                    <strong>CHI TIỀN GỬI NGÂN HÀNG</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID[3], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                            </div>

                        </div>
                    </div>
                }
                @if (ListItemGroupID.Count > 5)
                {
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panelClosing" data-toggle="collapse">

                                <strong> PHẦN III: SỐ DƯ QUỸ</strong>
                            </a>
                        </h4>
                    </div>
                    <div id="panelClosing" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <div class="row">
                                <div id="@( "Part" + ListItemGroupID[0].ToString())" class="col-md-6 ">
                                    <strong>SỐ DƯ VAY QUỸ KHÁC</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID[4], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                                <div id="@("Part" + ListItemGroupID[1].ToString())" class="col-md-6 ">
                                    <strong>SỐ DƯ CHO QUỸ KHÁC VAY</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID[5], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>

            <div id="TTTDV" class="panel panel-default tab-pane fade">
                @if (ListItemGroupID_TDV.Count > 1)
                {
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panelCash" data-toggle="collapse">
                                <strong> PHẦN I: TIỀN MẶT</strong>
                            </a>
                        </h4>
                    </div>
                    <div id="panelCash" class="panel-collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div id="@( "Part" + ListItemGroupID_TDV[0].ToString())" class="col-md-6">
                                    <strong>NHÓM PHÁT HÀNH</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_TDV[0], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                                <div id="@("Part" + ListItemGroupID_TDV[1].ToString())" class="col-md-6">
                                    <strong>NHÓM TRẢ</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_TDV[1], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                            </div>

                        </div>
                    </div>
                }

                @if (ListItemGroupID_TDV.Count > 3)
                {
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panelBank" data-toggle="collapse">

                                <strong> PHẦN II: TIỀN GỬI NGÂN HÀNG</strong>
                            </a>
                        </h4>
                    </div>
                    <div id="panelBank" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div id="@( "Part" + ListItemGroupID_TDV[2].ToString())" class="col-md-6">
                                    <strong>THU TIỀN GỬI NGÂN HÀNG</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_TDV[2], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                                <div id="@( "Part" + ListItemGroupID_TDV[3].ToString())" class="col-md-6">
                                    <strong>CHI TIỀN GỬI NGÂN HÀNG</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_TDV[3], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                            </div>

                        </div>
                    </div>
                }
                @if (ListItemGroupID_TDV.Count > 5)
                {
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panelClosing" data-toggle="collapse">

                                <strong> PHẦN III: SỐ DƯ QUỸ</strong>
                            </a>
                        </h4>
                    </div>
                    <div id="panelClosing" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div id="@( "Part" + ListItemGroupID_TDV[4].ToString())" class="col-md-6">
                                    <strong>SỐ DƯ VAY QUỸ KHÁC</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_TDV[4], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                                <div id="@( "Part" + ListItemGroupID_TDV[5].ToString())" class="col-md-6">
                                    <strong>SỐ DƯ CHO QUỸ KHÁC VAY</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_TDV[5], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>

            <div id="TKBD" class="panel panel-default tab-pane fade">
                @if (ListItemGroupID_TKBD.Count > 1)
                {
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panelCash" data-toggle="collapse">
                                <strong> PHẦN I: TIỀN MẶT</strong>
                            </a>
                        </h4>
                    </div>
                    <div id="panelCash" class="panel-collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div id="@( "Part" + ListItemGroupID_TKBD[0].ToString())" class="col-md-6">
                                    <strong>NHÓM PHÁT HÀNH</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_TKBD[0], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                                <div id="@("Part" + ListItemGroupID_TKBD[1].ToString())" class="col-md-6">
                                    <strong>NHÓM TRẢ</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_TKBD[1], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                            </div>

                        </div>
                    </div>
                }

                @if (ListItemGroupID_TKBD.Count > 3)
                {
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panelBank" data-toggle="collapse">

                                <strong> PHẦN II: TIỀN GỬI NGÂN HÀNG</strong>
                            </a>
                        </h4>
                    </div>
                    <div id="panelBank" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div id="@( "Part" + ListItemGroupID_TKBD[2].ToString())" class="col-md-6">
                                    <strong>THU TIỀN GỬI NGÂN HÀNG</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_TKBD[2], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                                <div id="@( "Part" + ListItemGroupID_TKBD[3].ToString())" class="col-md-6">
                                    <strong>CHI TIỀN GỬI NGÂN HÀNG</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_TKBD[3], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                            </div>

                        </div>
                    </div>
                }
                @if (ListItemGroupID_TKBD.Count > 5)
                {
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panelClosing" data-toggle="collapse">

                                <strong> PHẦN III: TÚI NIÊM PHONG CỦA NHBĐ LIÊN VIỆT GỬI TẠI BĐT/TP</strong>
                            </a>
                        </h4>
                    </div>
                    <div id="panelClosing" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div id="@( "Part" + ListItemGroupID_TKBD[4].ToString())" class="col-md-6">
                                    <strong>BÊN THU</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_TKBD[4], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                                <div id="@( "Part" + ListItemGroupID_TKBD[5].ToString())" class="col-md-6">
                                    <strong>BÊN CHI</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_TKBD[5], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>

            <div id="KDDV" class="panel panel-default tab-pane fade">
                @if (ListItemGroupID_KD.Count > 1)
                {
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panelCash" data-toggle="collapse">
                                <strong> PHẦN I: TIỀN MẶT</strong>
                            </a>
                        </h4>
                    </div>
                    <div id="panelCash" class="panel-collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div id="@( "Part" + ListItemGroupID_KD[0].ToString())" class="col-md-6">
                                    <strong>NHÓM PHÁT HÀNH</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_KD[0], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                                <div id="@("Part" + ListItemGroupID_KD[1].ToString())" class="col-md-6">
                                    <strong>NHÓM TRẢ</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_KD[1], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                            </div>

                        </div>
                    </div>
                }

                @if (ListItemGroupID_KD.Count > 3)
                {
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panelBank" data-toggle="collapse">

                                <strong> PHẦN II: TIỀN GỬI NGÂN HÀNG</strong>
                            </a>
                        </h4>
                    </div>
                    <div id="panelBank" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div id="@( "Part" + ListItemGroupID_KD[2].ToString())" class="col-md-6">
                                    <strong>THU TIỀN GỬI NGÂN HÀNG</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_KD[2], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                                <div id="@( "Part" + ListItemGroupID_KD[3].ToString())" class="col-md-6">
                                    <strong>CHI TIỀN GỬI NGÂN HÀNG</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_KD[3], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                            </div>

                        </div>
                    </div>
                }
                @if (ListItemGroupID_KD.Count > 5)
                {
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panelClosing" data-toggle="collapse">

                                <strong> PHẦN III: SỐ DƯ QUỸ</strong>
                            </a>
                        </h4>
                    </div>
                    <div id="panelClosing" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div id="@( "Part" + ListItemGroupID_KD[4].ToString())" class="col-md-6">
                                    <strong>SỐ DƯ VAY QUỸ KHÁC</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_KD[4], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                                <div id="@( "Part" + ListItemGroupID_KD[5].ToString())" class="col-md-6">
                                    <strong>SỐ DƯ CHO QUỸ KHÁC VAY</strong>
                                    @{ Html.RenderAction("Report02CDGet", "Accounting", new { area = "CFMBranch", @reportID = reportID, @itemGroupId = ListItemGroupID_KD[5], @CD02Header = Model, @isAgain = isAgain });}
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row fixbottom">
        <div class="col-md-12 mt5">
            <button id="report02cdsummary" onclick="ReportCD_Process.GetCDTotal(@rPoID,'@sReportCode',0)" name="search_key" class="btn btn-pns btn-cons btn-sm" type="button"><i class="fa fa-fw fa-book"></i> Xem 02-CĐ TH</button>
            <button id="report02cddetail" onclick="ReportCD_Process.GetCDTotal(@rPoID,'@sReportCode',1)" name="search_key" class="btn btn-pns btn-cons btn-sm" type="button"><i class="fa fa-fw fa-book"></i> Xem 02-CĐ CT</button>

            <button id="report02cdupdate" onclick="common.Submitform('fUpdateReport03CD')" name="search_key" class="btn btn-pns btn-cons btn-sm btn-dock-right fixright" type="button"><i class="fa fa-fw fa-pencil"></i> Cập nhật</button>
        </div>
    </div>
}
<br />

<script>
        $('#ReportDate').datepicker({
            format: 'dd/mm/yyyy', language: "vi", autoclose: true, endDate: new Date('@DateTime.Now.Year', '@(DateTime.Now.Month - 1)', '@DateTime.Now.Day', 0, 0, 0, 0)
        });

        $(document).ready(function () {
            $(".HasFormula").each(function () {
                var ccy = $(this).data("currencytype");
                //if ($(this).data("currencytype") == ccy) {
                var Formula = $(this).data("itemformula");
                var arrItem = [""];
                var arrSign = ["", "+"];
                var itemString = "";
                var index = 0;
                for (i = 0; i < Formula.length; i++) {
                    if (Formula[i] != " " && Formula[i] != "=") {
                        if (Formula[i] != "+" && Formula[i] != "-")
                            itemString += Formula[i]
                        else {
                            arrItem.push(itemString);
                            arrSign.push(Formula[i]);

                            itemString = "";
                        }
                    }
                }

                if (itemString != "")
                    arrItem.push(itemString);

                var value = 0;
                $.each(arrItem, function (i, v) {
                    if (v != "") {

                        var val = $("." + v + ccy).val();
                        if (val != null && val != undefined && val != "") {
                            value += (arrSign[i] == "+") ? parseFloat(val.replace(/\./g, '').replace(/\,/g, '.')) : (-1) * parseFloat(val.replace(/\./g, '').replace(/\,/g, '.'));
                        }
                    }
                });
                $(this).val(value.toLocaleString('de-DE'));
                var parent = $(this).data('parentid');
                var value = $(this).val();
                var dataItemGroup = $(this).data('itemgroupid');
                var control = $('#' + parent).length;
                if (!$("#" + parent).hasClass("HasFormula", "IsSummary" + ccy))
                    value = Cal(parent);
                while (control > 0) {
                    if (!$("#" + parent).hasClass("HasFormula", "IsSummary" + ccy))
                        $("#" + parent).val(value.toLocaleString('de-DE'));

                    parent = $("#" + parent).data('parentid');
                    control = $('#' + parent).length;
                    if (!$("#" + parent).hasClass("HasFormula", "IsSummary" + ccy))
                        value = Cal(parent);
                }

                var ItemGroup = $(this).data('itemgroupid');
                calFooter(ItemGroup);

            });
        });
        function Cal(control) {
            var value = 0;
            $("." + control).each(function () {

                value += parseFloat($(this).val().replace(/\./g, '').replace(/\,/g, '.'));
            });
            return value;
        }

        function calFooter(dataItemGroupid) {
            var totalCashReceiptVnd = 0;
            $(".0" + dataItemGroupid).each(function () {

                totalCashReceiptVnd += parseFloat($(this).val().replace(/\./g, '').replace(/\,/g, '.'));

            });
            $("#total" + dataItemGroupid).val(totalCashReceiptVnd.toLocaleString('de-DE'));
        }

        common.Init();
</script>
