@model List<Cfm.Web.Mvc.Areas.CFMCounter.Models.ViewModel.CD04HeaderViewModel>
@using Cfm.Web.Mvc.Common;
@{
    int total = int.Parse(ViewBag.Total.ToString());
    int pageIndex = int.Parse(ViewBag.PageIndex.ToString());
    int pageSize = int.Parse(ViewBag.PageSize.ToString());

    //int refType = int.Parse(ViewBag.refType.ToString());
    int stt = (pageIndex - 1) * pageSize;


}

<table id="tblcontent" class="table table-striped table-bordered datatables dataTable no-footer table-fixed-header">
    <thead>
        <tr class="tr_head">
            <td class="w40 text-center">STT</td>
            <td class="text-center">Đơn vị</td>
            <td class="w120 text-center">Ngày báo cáo</td>
            <td class="w250 text-center">Trạng thái báo cáo</td>
            <td class="w250 text-center">Người xác nhận</td>
            <td class="w120 text-center">Ngày xác nhận</td>
            <td class="w150 text-center"></td>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            for (int i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
                <tr>
                    <td>
                        @((stt + i + 1).ToString("N0"))
                    </td>
                    <td>
                        @item.PoName
                    </td>
                    <td>
                        @item.ReportDate
                    </td>
                    <td>
                        @if (item.ReportStatus == "A")
                        {
                            <label class="label label-success">@item.ReportStatusName</label>
                        }
                        else if (item.ReportStatus == "L")
                        {
                            <label class="label label-warning">@item.ReportStatusName</label>
                        }
                        else
                        {
                            <label class="label label-danger">@item.ReportStatusName</label>
                        }
                    </td>
                    <td>
                        @item.ApprovedEmpName
                    </td>

                    <td>
                        @item.ApprovedDate
                    </td>

                    <td class="text-center padding1">
                      
                        @if (item.ReportStatus == "L" || item.ReportStatus == "A")
                        {

                            <div class="dropdown">
                                <button class="btn btn-default  dropdown-toggle" type="button" data-toggle="dropdown">
                                    <i class="fa fa-cog" aria-hidden="true"></i>...
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a title="Xem 04-CĐ TH" onclick="Report_Process.View04CDTotal(@item.PoId,'@item.ReportDate','@item.ReportDate',0,'CD04')"><i class="fa fa-book" aria-hidden="true"></i> Xem TH</a></li>
                                    <li><a title="Xem 04-CĐ CT" onclick="Report_Process.ViewSummaryReport(@item.PoId,'@item.ReportDate','@item.ReportDate',1,'CD04')"><i class="fa fa-book" aria-hidden="true"> Xem CT</i></a></li>
                                    @if (item.ReportStatus == "A")
                                    {
                                        <li><a title="Bỏ xác nhận" onclick="ReportCD_Process.ConfirmCancel(@item.Id,@item.PoId,'@item.ReportDate','@item.PoName')"><i class="fa fa-pencil" aria-hidden="true"></i> Bỏ xác nhận</a></li>
                                    }                                   

                                </ul>
                            </div>

                        }
                    </td>
                </tr>

            }
            <tr>
                <td colspan="7">
                    @Html.Raw(Utility.Page(total, pageIndex, 5, pageSize, (((pageIndex <= 0 ? 1 : pageIndex) - 1) * pageSize) + 1, pageSize * (pageIndex <= 0 ? 1 : pageIndex), "ReportCD_Process.LoadCD04ReplaceManage", "0"))
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="7">
                    <span>
                        Không tìm thấy dữ liệu...
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    filter.initDateRange(filterConfig.dateRange, null, null, 'right');
    
</script>
