@model Cfm.Web.Mvc.Areas.CFMCounter.Models.ViewModel.AccountingEntryViewModel
@using Cfm.Web.Mvc.Common;
@{
    int RefType = (int)ViewBag.refType;
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/CFM/Common.js"></script>
<div class="panel panel-primary">
    <div class="panel-heading">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="fontbold color-white">

            <span>@("Thêm mới bút toán")</span>

        </h4>
    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("PaymentBorrowFundUpdate", "AccountingEntry", new { Area = "CFMDistrict" }, new AjaxOptions { HttpMethod = Constant.Method.POST.ToString(), OnSuccess = "Entry_Process.CreateEntrySuccess(data,'" + RefType + "')" }, new { @id = "fCreateBorrowEntry" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="TransDate">Ngày trả quỹ</label>
                        @Html.TextBoxFor(x => x.TransDate, new { @class = "form-control", @placeholder = "Ngày trả quỹ", @readonly = "readonly" })
                        @Html.ValidationMessageFor(x => x.TransDate)
                        @Html.HiddenFor(x => x.Id)
                        @Html.HiddenFor(x => x.RefType)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="OrdinalNumberString" id="STTLabel">Lần trả</label>
                        @Html.TextBoxFor(x => x.OrdinalNumberString, new { @class = "form-control NumberMask", @placeholder = "Lần trả" })
                        @Html.ValidationMessageFor(x => x.OrdinalNumberString)
                    </div>
                </div>
            </div>

            @*<div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="BudgetTypeId">Loại quỹ</label>
                        @Html.DropDownListFor(x => x.BudgetTypeId, (IEnumerable<SelectListItem>)ViewBag.ListBudgetType, new { @class = "form-control", @placeholder = "Loại quỹ", @id = "cboBudgetType" })
                        @Html.ValidationMessageFor(x => x.BudgetTypeId)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="CashFllowId">Dòng tiền</label>
                        @Html.DropDownListFor(x => x.CashFllowId, (IEnumerable<SelectListItem>)ViewBag.ListCashFlow, new { @class = "form-control", @placeholder = "Dòng tiền", @id = "cboCashFllow" })
                        @Html.ValidationMessageFor(x => x.CashFllowId)
                    </div>
                </div>
            </div>*@

            <div class="form-group">
                <div class="col-sm-6 padding0">
                    <label for="RefTransNumber">Trả cho khoản vay</label>
                    @Html.TextBoxFor(x => x.RefTransNumber, new { @class = "form-control", @id = "txtRefTransNumber", @disabled = "disabled" })
                    @Html.HiddenFor(x => x.RefTransNumber, new { @id = "hRefTransNumber"})
                    @Html.ValidationMessageFor(x => x.RefTransNumber)
                </div>
                <div class="col-sm-4">
                    <br />
                    <a onclick="Entry_Process.SelectEntry(@RefType)" href="javascript:void(0)" class="btn btn-pns btn-sm padding5"><i class="fa fa-search" aria-hidden="true"></i> Chọn khoản vay</a>
                    @*<a data-toggle="modal" href="#tempModal_Entry" class="btn btn-pns">Chọn khoản vay</a>*@
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Amount">Tiền TCBC tập trung</label>
                                @Html.TextBoxFor(x => x.Amount, new { @class = "form-control NumberMask ItemValue", @id = "cfm_txt_amount" })
                            </div>
                        </div>
                        <div class="col-md-3 pl0">
                            <div class="form-group">
                                @Html.DropDownListFor(x => x.CurrencyType, (IEnumerable<SelectListItem>)ViewBag.ListCurrencyType, new { @class = "form-control mt18", @id = "cfm_cbo_center" })
                            </div>
                        </div>
                        <div class="col-md-3 pl0">
                            <div class="form-group">
                                @Html.DropDownListFor(x => x.BorrowMethod, (IEnumerable<SelectListItem>)ViewBag.ListBorrowMethod, new { @class = "form-control mt18", @id = "cfm_cbo_method" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Amount">Tiền TCBC tại đơn vị</label>
                                @Html.TextBoxFor(x => x.AmountUnitString, new { @class = "form-control NumberMask ItemValue", @id = "cfm_txt_amount_unit" })
                            </div>
                        </div>
                        <div class="col-md-3 pl0">
                            <div class="form-group">
                                @Html.DropDownListFor(x => x.CurrencyTypeUnit, (IEnumerable<SelectListItem>)ViewBag.ListCurrencyType, new { @class = "form-control mt18", @id = "cfm_cbo_unit" })
                            </div>
                        </div>
                        <div class="col-md-3 pl0">
                            <div class="form-group">
                                @Html.DropDownListFor(x => x.BorrowMethodUnit, (IEnumerable<SelectListItem>)ViewBag.ListBorrowMethod, new { @class = "form-control mt18", @id = "cfm_cbo_method_unit" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Amount">Tiền TKBĐ</label>
                                @Html.TextBoxFor(x => x.AmountSavingString, new { @class = "form-control NumberMask ItemValue", @id = "cfm_txt_amount_saving" })
                            </div>
                        </div>
                        <div class="col-md-3 pl0">
                            <div class="form-group">
                                @Html.DropDownListFor(x => x.CurrencyTypeSaving, (IEnumerable<SelectListItem>)ViewBag.ListCurrencyType, new { @class = "form-control mt18", @id = "cfm_cbo_saving" })
                            </div>
                        </div>
                        <div class="col-md-3 pl0">
                            <div class="form-group">
                                @Html.DropDownListFor(x => x.BorrowMethodSaving, (IEnumerable<SelectListItem>)ViewBag.ListBorrowMethod, new { @class = "form-control mt18", @id = "cfm_cbo_method_saving" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="AmountBSString">Tiền kinh doanh dịch vụ</label>
                                @Html.TextBoxFor(x => x.AmountBSString, new { @class = "form-control NumberMask ItemValue", @id = "cfm_txt_amount_bs" })
                            </div>
                        </div>
                        <div class="col-md-3 pl0">
                            <div class="form-group">
                                @Html.DropDownListFor(x => x.CurrencyTypeBS, (IEnumerable<SelectListItem>)ViewBag.ListCurrencyType, new { @class = "form-control mt18", @id = "cfm_cbo_bs" })
                            </div>
                        </div>
                        <div class="col-md-3 pl0">
                            <div class="form-group">
                                @Html.DropDownListFor(x => x.BorrowMethodBS, (IEnumerable<SelectListItem>)ViewBag.ListBorrowMethod, new { @class = "form-control mt18", @id = "cfm_cbo_method_bs" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="Description">Ghi chú</label>
                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = "Ghi chú" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button type="button" onclick="common.Submitform('fCreateBorrowEntry', true)" class="btn btn-pns text-right  btn-sm"><i class="glyphicon glyphicon-ok"></i> Cập nhật</button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Thoát</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    common.Init();
    $(document).ready(function () {

        $("#cfm_txt_amount").keyup(function () {
            var oValue = parseFloat($(this).val().replace(/\,/g, ''));
            var amountInWord = common.SayMoney(oValue)
            $("#txt_Amount_In_Word").val(amountInWord);

        });
    });

    $('#TransDate').datepicker({
        format: 'dd/mm/yyyy', language: "vi", autoclose: true, endDate: new Date('@DateTime.Now.Year','@(DateTime.Now.Month - 1)','@DateTime.Now.Day',0,0,0,0)
    });

</script>



