@model Cfm.Web.Mvc.Areas.Admin.Models.ChangePassViewModel
@using Cfm.Web.Mvc.Common;

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@using (Ajax.BeginForm("ChangePassword", "User", new { Area = "Admin" }, new AjaxOptions { HttpMethod = Constant.Method.POST.ToString(), OnSuccess = "UserManage.OnsucessChangePass" }, new { @id="fChangePass" }))
{
    <div class="modal-body" style="padding:0px !important;">
        <div class="alert alert-info" style="margin-bottom:0px !important; border-width:0px;">
            @Html.HiddenFor(x => x.FullName)
            @Html.HiddenFor(x => x.Username)

            <div class="panel-body">
                <div class="form-group">
                    <label for="FullName">Họ và Tên</label>
                    @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @placeholder = "Họ và Tên", @disabled = "disabled", @readonly = "readonly" })
                </div>

                <div class="form-group">
                    <label for="UserName">Tên tài khoản</label>
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = "Tên tài khoản", @disabled = "disabled", @readonly = "readonly" })
                </div>

                <div class="form-group">
                    <label for="PassWord">Mật khẩu cũ&nbsp;<span style="color:#f48260;">(*)</span></label>
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Mật khẩu cũ" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>

                <div class="form-group">
                    <label for="PasswordNew">Mật khẩu mới&nbsp;<span style="color:#f48260;">(*)</span></label>
                    @Html.PasswordFor(x => x.PasswordNew, new { @class = "form-control", @placeholder = "Mật khẩu mới" })
                    @Html.ValidationMessageFor(x => x.PasswordNew)
                </div>

                <div class="form-group">
                    <label for="ConfirmPassword">Xác nhận lại mật khẩu&nbsp;<span style="color:#f48260;">(*)</span></label>
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Xác nhận lại mật khẩu mới" })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </div>

                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.ID)
            </div>
        </div>
    </div>
}

<div class="modal-footer">
    <div class="row">
        <div class="col-md-6 col-xs-6" style="text-align:left;">
            <button type="button" onclick="common.Submitform('fChangePass', true)" class="btn btn-pns"><i class="fa fa-check"></i> Thay đổi</button>
        </div>
        <div class="col-md-6 col-xs-6" style="float:right;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
        </div>
    </div>
</div>