@using Cfm.Web.Mvc.Common;
@model List<Cfm.Web.Mvc.Areas.Admin.Models.ItemGroupViewModel>

@{
    string ReportType = ViewBag.ReportType.ToString();
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home", new{Area = "Admin"})">Trang chủ</a></li>
    <li class="active">Cấu hình Báo cáo</li>
</ol>



@if (Model != null && Model.Count > 0)
{
    int Total = Model.Count;
    if (Model.Count > 2)
    {
        Total = Model.Count - 2;
    }

    if (ReportType == "02TH" || ReportType == "03TH") //LOAD LOẠI BÁO CÁO 02TH và 03TH
    {
        for (int i = 0; i < Total; i++)
        {
            var item = Model[i];
            var Part = "Part" + item.ID;

            <div class="panel padding1">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#panel-@item.ID" data-toggle="collapse">
                            <strong> @("Phần " + Utility.IntToRoman(i + 1) + ": " + item.Name)</strong>
                        </a>
                    </h4>
                </div>
                <div id="panel-@item.ID" class="panel-collapse in">
                    <div class="panel-body panel-no-padding padding0">
                        <div class="table-responsive h350 scroll" id="@Part">
                            @{ Html.RenderAction("ConfigTHGet", "ReportConfiguration", new { @reportID = item.ReportId, @itemGroupId = item.ID, @Area = "Admin" });}
                        </div>
                    </div>
                </div>
            </div>
        }

        if (Total != Model.Count)
        {
            <div class="row">
                @for (int j = 1; j <= 2; j++)
                {
                    var item = Model[Model.Count - j];
                    <div class="col-sm-6">
                        <div class="panel padding1">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#panel-@item.ID" data-toggle="collapse">
                                        @(j == 1 ? "Tài sản" : "Nguồn vốn")
                                    </a>
                                </h4>
                            </div>
                            <div id="panel-@item.ID" class="panel-collapse in">
                                <div class="panel-body panel-no-padding padding0">
                                    <div class="table-responsive h350 scroll">
                                        @{ Html.RenderAction("ConfigTHGet", "ReportConfiguration", new { @reportID = item.ReportId, @itemGroupId = item.ID, @Area = "Admin" });}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        }
    }
    else if (ReportType == "01TH")//LOAD LOẠI BÁO CÁO 01TH
    {
        <div class="panel padding1">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#panelOne" data-toggle="collapse">
                        <strong> PHẦN I: CÂN ĐỐI TẠI BAN TÀI CHÍNH KẾ TOÁN</strong>
                    </a>
                </h4>
            </div>
            <div id="panelOne" class="panel-collapse in">
                <div class="panel-body padding0">
                    <div class="row">
                        @for (int i = 0; i < Model.Take(2).Count(); i++)
                        {
                            var item = Model[i];
                            var Part = "Part" + item.ID;
                            <div class="col-md-6">
                                <div class="table-responsive h350 scroll" id="@Part">
                                    @{ Html.RenderAction("ConfigTHGet", "ReportConfiguration", new { @reportID = item.ReportId, @itemGroupId = item.ID, @Area = "Admin" });}
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    <div class="panel padding1">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#panelTwo" data-toggle="collapse">
                    <strong> PHẦN II: CÂN ĐỐI TOÀN TỔNG CÔNG TY</strong>
                </a>
            </h4>
        </div>
        <div id="panelTwo" class="panel-collapse in">
            <div class="panel-body padding0">
                <div class="row">
                    @for (int i = Model.Take(2).Count(); i < Model.Count(); i++)
                    {
                        var item = Model[i];
                        var Part = "Part" + item.ID;
                        <div class="col-md-6">
                            <div class="table-responsive h350 scroll" id="@Part">
                                @{ Html.RenderAction("ConfigTHGet", "ReportConfiguration", new { @reportID = item.ReportId, @itemGroupId = item.ID, @Area = "Admin" });}
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    }
}
else
{
    <span>
        Không tìm thấy Nhóm Chỉ tiêu.
    </span>
}
<br />