
@model Cfm.Web.Mvc.Areas.Admin.Models.EmployeeViewModel
@using Cfm.Web.Mvc.Common

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<div class="panel panel-primary">
    <div class="panel-heading">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="fontbold color-white">
            @(Model != null && Model.ID > 0 ? "Chỉnh sửa Người dùng [" + Model.FullName + "]" : "Thêm mới Người dùng")
        </h4>
    </div>
    <div class="panel-body pa pb0">
        @using (Ajax.BeginForm("UpdateUser", "System", new { Area = "CFMCounter" }, new AjaxOptions { HttpMethod = Constant.Method.POST.ToString(), OnSuccess = "UserManage.Onsuccess" }, new { @id = "fPoCreate" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.POID)

            if (Model != null && Model.ID > 0)
            {
                @Html.HiddenFor(x => x.ID)
                @Html.HiddenFor(x => x.Username)
            }

            <div class="form-group">
                <label for="Username">Tên đăng nhập</label>
                @if (Model != null && Model.ID > 0)
                {
                     @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = "Tên đăng nhập", @readonly="readonly" })
                }
                else
                {
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                }
                @Html.ValidationMessageFor(x => x.Username)
            </div>

            <div class="form-group">
                <label for="FullName">Họ và Tên</label>
                @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @placeholder = "Họ và Tên" })
                @Html.ValidationMessageFor(x => x.FullName)
            </div>
            
            <div class="form-group">
                <label for="EmpGroupID">Nhóm Người dùng</label>
                @Html.DropDownListFor(x => x.EmpGroupID, (IEnumerable<SelectListItem>)ViewBag.ListEmployeeGroup, new { @class="form-control" })
                @Html.ValidationMessageFor(x => x.EmpGroupID)
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="PhoneNumber">Số điện thoại</label>
                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @placeholder = "Số điện thoại" })
                        @Html.ValidationMessageFor(x => x.PhoneNumber)
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label>Địa chỉ</label>
                @Html.TextAreaFor(x => x.Address, new { @class = "form-control", @placeholder = "Địa chỉ" })
                @Html.ValidationMessageFor(x => x.Address)
            </div>

            <div class="modal-footer pb0">
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button type="button" onclick="common.Submitform('fPoCreate',true)" class="btn btn-pns text-right  btn-sm"><i class="glyphicon glyphicon-ok"></i> Cập nhật</button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Thoát</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>