@model IEnumerable<Cfm.Web.Mvc.Areas.Admin.Models.ListEmployeePartial>

<h4>Danh sách người dùng</h4>
<div class="form-group">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupEmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLock)
            </th>
            <th></th>
        </tr>

        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupEmpName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsLock)
                    </td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Khóa", "Lock", new { id = item.Id })
                    </td>
                </tr>
            }
        }

    </table>
</div>

