
@model List<Cfm.Web.Mvc.Areas.CFMCounter.Models.ViewModel.AdjustmentEntryViewModel>
@using Cfm.Web.Mvc.Common;
@{ 
    int reportId = ViewBag.reportId;
    int poId = ViewBag.poId;
    string reportDate = ViewBag.reportDate;
}
<table id="tblcontent" class="table table-striped table-bordered datatables dataTable no-footer table-fixed-header">
    <thead>
        <tr class="tr_head">
            <td class="text-center w40">STT</td>
            <td class="w80 text-cente">Bưu cục</td>
            <td class="w120 text-center">Ngày ĐC</td>
            <td class="w120 text-center">Ngày báo cáo</td>
            <td class="w120 text-center">Số tiền</td>
            <td class="w180 text-center">Loại điều chỉnh</td>
            <td class="w200 text-center">Chỉ tiêu điều chỉnh</td>
            <td class="text-center">Người dùng</td>
            <td class="w40 text-center"></td>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            for (int i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
                <tr>
                    <td>
                        @((i + 1).ToString("N0", new System.Globalization.CultureInfo("de-DE")))
                    </td>
                    <td>
                        @item.PoCode
                    </td>
                    <td>
                        @item.CreatedDate
                    </td>
                    <td>
                        @item.ReportDate
                    </td>
                    <td class="text-right">
                      @((item.AdjAmountVnd > 0) ? item.AdjAmountVnd.ToString("N0", new System.Globalization.CultureInfo("de-DE")) : "0")
                    </td>
                    <td>
                       @item.AdjTypeName
                    </td>
                    <td>
                        @item.ItemName
                    </td>
                    <td>
                        @item.AmndEmpName
                    </td>
                    <td class="text-center">
                        <a title="Xóa" class="btn btn-danger btn-xs" onclick="Entry_Process.DeleteAdjEntry('@item.Id','@item.AdjTypeName','@item.ItemName','@poId','@reportDate','@reportId','@item.ItemCode','@item.AdjAmountVnd','@item.AdjAmountUsd','@item.AdjType')"><i class="fa fa-trash" aria-hidden="true"></i></a>                       
                    </td>
                </tr>

                <tr id="row-@item.Id" style="display:none; background-color:bisque">
                    <td colspan="9" id="col-@item.Id"></td>
                </tr>

            }
          
        }
        else
        {
            <tr>
                <td colspan="9">
                    <span>
                        Không tìm thấy dữ liệu...
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

