@using Cfm.Web.Common
@model List<Cfm.Web.Mvc.Areas.CFMCounter.Models.ViewModel.InfomationNotifiViewModels>
@{
    Layout = null;
}
<ul class="list-group">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <li class="list-group-item">
                <i class="fa fa-check fa-fw"></i><strong>Số dư đầu ngày TM : @item.OpeningAmountCash.ToString("N0", new System.Globalization.CultureInfo("de-DE"))</strong>
            </li>
            <li class="list-group-item pl50">
                - Dòng TCBC tập trung : <strong>@item.OpeningAmountCashCenter.ToString("N0", new System.Globalization.CultureInfo("de-DE"))</strong>
            </li>
            <li class="list-group-item pl50">
                - Dòng TCBC đơn vị : <strong>@item.OpeningAmountCashUnit.ToString("N0", new System.Globalization.CultureInfo("de-DE"))</strong>
            </li>
            <li class="list-group-item pl50">
                - Dòng TKBĐ : <strong>@item.OpeningAmountCashSaving.ToString("N0", new System.Globalization.CultureInfo("de-DE"))</strong>
            </li>
            <li class="list-group-item pl50">
                - Dòng kinh doanh : <strong>@item.OpeningAmountCashSaving.ToString("N0", new System.Globalization.CultureInfo("de-DE"))</strong>
            </li>

            <li class="list-group-item">
                <i class="fa fa-check fa-fw"></i><strong>Số dư đầu ngày TGNH : @item.OpeningAmountBank.ToString("N0", new System.Globalization.CultureInfo("de-DE"))</strong>
            </li>
            <li class="list-group-item pl50">
                - Dòng TCBC tập trung : <strong>@item.OpeningAmountBankCenter.ToString("N0", new System.Globalization.CultureInfo("de-DE"))</strong>
            </li>
            <li class="list-group-item pl50">
                - Dòng TCBC đơn vị : <strong>@item.OpeningAmountBankUnit.ToString("N0", new System.Globalization.CultureInfo("de-DE"))</strong>
            </li>
            <li class="list-group-item pl50">
                - Dòng TKBĐ : <strong>@item.OpeningAmountBankSaving.ToString("N0", new System.Globalization.CultureInfo("de-DE"))</strong>
            </li>
            <li class="list-group-item pl50">
                - Dòng kinh doanh : <strong>@item.OpeningAmountBankBS.ToString("N0", new System.Globalization.CultureInfo("de-DE"))</strong>
            </li>
        }
    }
</ul>